/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* 
Selected Fonts:
font-family: 'Inconsolata', monospace;
font-family: 'Space Mono', monospace;
*/

.heading{
    margin-left: 77px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.div-1 > img{
    width: 800px;
}

.div-2 h1{
    color: var(--Gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    width: 586px;
}

.div-2 p{
    color: var(--Gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    width: 381px;
}

.div-2 button{
    width: 216px;
    height: 68px;
    background: var(--Gray-1, #333);

    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    text-transform: uppercase;
}